html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  overflow: hidden; /*  Disable scrollbars */
  display: block;  /* No floating content on sides */
  background-color: black;
}

p {
  color: white;
  font-family: "Arial";
}

p.center {
  text-align: center;
}

button.center {
  display: block;
  margin: 0 auto;
}

div.dialog {
  background-color: black;
  border: 1px solid #ffffff;
  margin: auto;
}

div.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.left {
  float: left;
}

.itemlist {
  min-width: 64px;
  min-height: 32px;
}

.inventoryItem {
  position: relative;
}

.inventoryItemSelected {
  position: relative;
  background-color: #474747;
}

.inventoryItemCount {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.5);
}

p.dialogTitle {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

p.inventoryItemStat {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

#guiToolbar {
  position: fixed;
  top: 0;
  right: 0;
}

#guiInventoryItemStats {
  width: 200px;
  min-height: 200px;
  padding-left: 16px;
}

#guiMeleeSlot {
  position: fixed;
  left: 0;
  bottom: 0;
}

#guiRangedSlot {
  position: fixed;
  right	: 0;
  bottom: 0;
}
